*{
    padding: 0;
    margin: 0;
}
header{
    background: linear-gradient(to right, red,yellow);
    padding: 20px;
    color: white;
}
section{
    padding: 20px;
    line-height: 2rem;
    background-color: rgb(211, 210, 210);
}
img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 10px;
}
a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(109, 183, 248);
}
li{
    display: inline;
    margin-right: 15px;
}
.container{
    background-color: white;
    width: 300px;
    padding: 20px;
    margin-top: 20px;
}
footer{
    background: linear-gradient(to right, red,yellow);
    padding: 20px; 
}
